In [ ]:
# ðŸŒŸExercise 1: Getting & Knowing Your Data (chipo)
# Instructions
# 1. Start by importing the necessary libraries.
import numpy as np
import pandas as pd

# 2. Retrieve the dataset from this link and assign it to a variable â€˜chipoâ€™.
# Note: You will be using â€˜chipoâ€™ in future exercises in the XP Gold and XP Ninja sections.
chipo=pd.read_csv('chipotle.tsv', sep='\t')

# 3. Display the first 10 rows of â€˜chipoâ€™ using the head() function.
chipo.head(10)

# 4. Determine the total number of entries (rows) in â€˜chipoâ€™ using shape or info().
print(f"There are {chipo.shape[0]} rows in 'chipo'.")

# 5. Use shape or columns to find the total number of columns in â€˜chipoâ€™.
print(f"There are {chipo.shape[1]} columns in 'chipo'.")

# 6. Use columns to print all the column names.
print("\n",chipo.columns)

# 7. Utilize index to understand how the DataFrame is indexed.
print("\n",chipo.index)

# 8. Use the value_counts() method on the â€˜item_nameâ€™ column to find the most ordered item.
most_ordered_item=chipo.value_counts(['item_name'])
print("\n",most_ordered_item.head(1))
print(f"The most ordered item is {most_ordered_item.index[0][0]}.")

# Find the total number of items ordered by summing the â€˜quantityâ€™ column.
print(f"\nThe total number of items ordered is {chipo['quantity'].sum()}.")

# Use value_counts() on â€˜choice_descriptionâ€™ to find the most ordered item from this column.
most_ordered_choice=chipo.value_counts(['choice_description'])
print("\n",most_ordered_choice.head(1))
print(f"The most ordered item is {most_ordered_choice.index[0][0]}.")

# Convert â€˜item_priceâ€™ to a float datatype using apply() and lambda. (Hint: Youâ€™ll need to remove the â€˜$â€™ from the prices first)
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

# Calculate the total revenue for the dataset by summing the â€˜item_priceâ€™ column.
print(f"\nThe total revenue for the dataset is {chipo['item_price'].sum()}.")

# Find the total number of orders by using the nunique() function on the â€˜order_idâ€™ column.
print(f"\nThe total number of orders is {chipo['order_id'].nunique()}.")

# Compute the average order value by dividing the total revenue by the number of orders.
average_order_value=chipo['item_price'].sum() / chipo['order_id'].nunique()
print(f"\nThe average order value is {average_order_value}.")

# Determine the total number of unique items sold using the nunique() function on the â€˜item_nameâ€™ column.
print(f"\nThe total number of unique items sold is {chipo['item_name'].nunique()}.")

# Using conditional selection, find the count of products that cost more than $10. Note: the price is listed in the â€˜item_priceâ€™ column.
cost_more_than_10=chipo[chipo['item_price']>10]
print(f"\nThe count of products that cost more than $10 is {cost_more_than_10.shape[0]}.")

There are 4622 rows in 'chipo'.
There are 5 columns in 'chipo'.

 Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

 RangeIndex(start=0, stop=4622, step=1)

 item_name
Chicken Bowl    726
Name: count, dtype: int64
The most ordered item is Chicken Bowl.

The total number of items ordered is 4972.

 choice_description
[Diet Coke]           134
Name: count, dtype: int64
The most ordered item is [Diet Coke].

The total revenue for the dataset is 34500.16.

The total number of orders is 1834.

The average order value is 18.811428571428575.

The total number of unique items sold is 50.

The count of products that cost more than $10 is 1130.

In [13]:
import numpy as np
import pandas as pd

users=pd.read_csv('users.user', sep='|')
print(users)
users_grouped=users.groupby('occupation').mean('age')
print(users_grouped)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]
                  user_id        age
occupation
administrator  430.949367  38.746835
artist         451.892857  31.392857
doctor         533.714286  43.571429
educator       466.905263  42.010526
engineer       456.328358  36.388060
entertainment  398.000000  29.222222
executive      422.312500  38.718750
healthcare     501.437500  41.562500
homemaker      443.000000  32.571429
lawyer         359.083333  36.750000
librarian      486.588235  40.000000
marketing      437.807692  37.615385
none           368.666667  26.555556
other          542.733333  34.523810
programmer     435.530303  33.121212
retired        515.714286  63.071429
salesman       494.916667  35.666667
scientist      465.129032  35.548387
student        484.954082  22.081633
technician     497.629630  33.148148
writer         495.711111  36.311111

In [6]:
import pandas as pd
import numpy as np

data1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Tom', 'Dick', 'Harry'],
})

data2 = pd.DataFrame({
    'ID': [4, 5, 6],
    'Name': ['Jerry', 'Tracy', 'Berry'],
})

data3 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': [80, 90, 100],
})

all_data = pd.concat([data1, data2])

print(all_data)

all_data_col = pd.concat([data1, data2], axis=1)

print(all_data_col)

   ID   Name
0   1    Tom
1   2   Dick
2   3  Harry
0   4  Jerry
1   5  Tracy
2   6  Berry
   ID   Name  ID   Name
0   1    Tom   4  Jerry
1   2   Dick   5  Tracy
2   3  Harry   6  Berry

In [24]:
import numpy as np
import pandas as pd

iris=pd.read_csv('iris.data', sep=',')
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','species']
print(iris.isnull())

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
144         False        False         False        False    False
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False

[149 rows x 5 columns]