In [1]:
import pandas as pd

df = pd.DataFrame({
   "Fruits": ["Apples", "Bananas", "Cherries", "Dates"],
   "Quantity": [20,30,15,10],
   "Colour": ["Red", "Yellow", "Red", "Brown"],
   "Price per kg": [3,2,4,5]
})
print(df)

df.to_csv('store_1_stock.csv', index=False)

     Fruits  Quantity  Colour  Price per kg
0    Apples        20     Red             3
1   Bananas        30  Yellow             2
2  Cherries        15     Red             4
3     Dates        10   Brown             5

In [2]:
store_1_stock = pd.read_csv('store_1_stock.csv')
print(store_1_stock)

     Fruits  Quantity  Colour  Price per kg
0    Apples        20     Red             3
1   Bananas        30  Yellow             2
2  Cherries        15     Red             4
3     Dates        10   Brown             5

In [3]:
store_1_stock.head(3)

     Fruits  Quantity  Colour  Price per kg
0    Apples        20     Red             3
1   Bananas        30  Yellow             2
2  Cherries        15     Red             4

In [4]:
store_1_stock.tail(3)

     Fruits  Quantity  Colour  Price per kg
1   Bananas        30  Yellow             2
2  Cherries        15     Red             4
3     Dates        10   Brown             5

In [5]:
store_1_stock.describe()

        Quantity  Price per kg
count   4.000000      4.000000
mean   18.750000      3.500000
std     8.539126      1.290994
min    10.000000      2.000000
25%    13.750000      2.750000
50%    17.500000      3.500000
75%    22.500000      4.250000
max    30.000000      5.000000

In [6]:
store_1_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fruits        4 non-null      object
 1   Quantity      4 non-null      int64
 2   Colour        4 non-null      object
 3   Price per kg  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [7]:
df=store_1_stock
print(df)
print(f"The total quantity of Fruits is {df["Quantity"].sum()}")

     Fruits  Quantity  Colour  Price per kg
0    Apples        20     Red             3
1   Bananas        30  Yellow             2
2  Cherries        15     Red             4
3     Dates        10   Brown             5
The total quantity of Fruits is 75

In [8]:
print(df.nlargest(3, "Quantity"))

     Fruits  Quantity  Colour  Price per kg
1   Bananas        30  Yellow             2
0    Apples        20     Red             3
2  Cherries        15     Red             4

In [9]:
print(df)
df.set_index('Fruits', inplace=True)
print(f"The quantity of Bananas is {df.loc['Bananas', 'Quantity']}")

     Fruits  Quantity  Colour  Price per kg
0    Apples        20     Red             3
1   Bananas        30  Yellow             2
2  Cherries        15     Red             4
3     Dates        10   Brown             5
The quantity of Bananas is 30

In [10]:
print(df)

print(f"The quantity of Dates is {df.iloc[3, 0]}")

          Quantity  Colour  Price per kg
Fruits
Apples          20     Red             3
Bananas         30  Yellow             2
Cherries        15     Red             4
Dates           10   Brown             5
The quantity of Dates is 10

In [11]:
df["Sales Price"]=df["Price per kg"]*0.1
df.rename(columns={'Price per kg': 'Original Price'}, inplace=True)
df.drop('Colour', axis=1, inplace=True)
df

          Quantity  Original Price  Sales Price
Fruits
Apples          20               3          0.3
Bananas         30               2          0.2
Cherries        15               4          0.4
Dates           10               5          0.5

In [12]:
import numpy as np

new_data = pd.DataFrame({"Quantity": [np.nan], "Original Price": [3.5]}, index=["Grapes"])
df = pd.concat([df, new_data], ignore_index=False) # pd.concat adds a new row
df

          Quantity  Original Price  Sales Price
Apples        20.0             3.0          0.3
Bananas       30.0             2.0          0.2
Cherries      15.0             4.0          0.4
Dates         10.0             5.0          0.5
Grapes         NaN             3.5          NaN

In [13]:
print(df.isna())

          Quantity  Original Price  Sales Price
Apples       False           False        False
Bananas      False           False        False
Cherries     False           False        False
Dates        False           False        False
Grapes        True           False         True

In [14]:
df['Quantity'].dtype

dtype('float64')

In [21]:
df.dropna(inplace=True)
df['Quantity'] = df['Quantity'].astype('int8')
df

          Quantity  Original Price  Sales Price
Apples          20             3.0          0.3
Bananas         30             2.0          0.2
Cherries        15             4.0          0.4
Dates           10             5.0          0.5

In [35]:
print(f"The total quantity of all fruits is {df["Quantity"].sum()}.")
print(f"The name and quantity of the fruit with the highest quantity is {df["Quantity"].idxmax()} and {df["Quantity"].max()}")
print(f"The name and quantity of the fruit with the highest quantity is {df["Quantity"].idxmin()} and {df["Quantity"].min()}")
print(f"The average original price per kg of fruits is {df["Original Price"].mean()}.")
# - The average original price per kg of fruits.

The total quantity of all fruits is 75.
The name and quantity of the fruit with the highest quantity is Bananas and 30
The name and quantity of the fruit with the highest quantity is Dates and 10
The average original price per kg of fruits is 3.5.

In [ ]:
import pandas as pd

# Creating a DataFrame with data for the fruit vendor
data = {
    "Fruit": ["Apple", "Banana", "Cherry", "Date", "Grapes"],
    "Quantity": [20, 30, 15, 10, 25], 
    "Original_Price": [3, 2, 4, 5, 2.5],
    "Supplier": ["Supplier1", "Supplier2", "Supplier1", "Supplier2", "Supplier1"]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

# - Create a function that will take the name of the fruit and return its new price.
def get_new_price(name):
    if name == "Banana":
        return 1.2
    if name == "Apple":
        return 2.0 
    if name == "Grapes":
        return 2.5

# - Apply this function to the Fruit column using the map() function and store the result in a new column Updated_Price.
df['Updated_price']=df['Fruit'].map(get_new_price)
df

    Fruit  Quantity  Original_Price   Supplier
0   Apple        20             3.0  Supplier1
1  Banana        30             2.0  Supplier2
2  Cherry        15             4.0  Supplier1
3    Date        10             5.0  Supplier2
4  Grapes        25             2.5  Supplier1

                       Fruit  Quantity  Original_Price  Updated_price
Supplier
Supplier1  AppleCherryGrapes        60             9.5            4.5
Supplier2         BananaDate        40             7.0            1.2

In [58]:
df_grouped=df.groupby('Supplier').sum()
df_grouped

                       Fruit  Quantity  Original_Price  Updated_price
Supplier
Supplier1  AppleCherryGrapes        60             9.5            4.5
Supplier2         BananaDate        40             7.0            1.2

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400]
})
df
def make_double(value):
    return value * 2

df[['B','C']].apply(make_double)
df[['B','C']].apply(lambda value: value*2)

    B    C
0  20  200
1  40  400
2  60  600
3  80  800